.snapItem{
    scroll-snap-align: start;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.snapItem__container{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.snapItem__description{
    margin-top: 28%;
    text-align: center;
}

.snapItem__description h1{
    font-size: 41px;
    font-weight: 300;
    color: rgb(57,60,65);
}

.snapItem__description p{
    font-size: 14px;
    font-weight: 200;
    margin-top: 7px;
}

.snapItem__actions{
    margin-top: auto;
    margin-bottom: 15%;
    display: flex;
}

.snapItem__actions > *:not(:first-child){
    margin-left: 20px;
}

.snapItem__expand{
    color: black;
    position: relative;
    bottom: 5%;
}

.snapItem__expand svg{
    width: 40px;
    height: 40px;
    animation: animateArrow 1s ease 2s infinite;
}

@keyframes animateArrow{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0);
    }
}